@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: "Pacifico";
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,14,14,1) 35%, rgba(255,255,255,1) 100%);
  color: black;
  text-align: center;
}


.perla {
  max-width: 500px;
  margin: 0 auto;
  
}